/* Outfit font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-softblue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);
  
  --main-bg-color: hsl(217, 54%, 11%);
  --card-bg-color: hsl(216, 50%, 16%);
  --line-bg-color: hsl(215, 32%, 27%);
  --white-bg-color: hsl(0, 0%, 100%);
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  background-color: var(--main-bg-color);
  color: var(--primary-cyan);
  height: auto;
  width: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

/* Main card style */
.card {
  border-radius: 20px;
  width: 500px;
  height: auto;
  background-color: var(--card-bg-color);
  box-shadow: 0px 35px 26px 18px hsl(216, 63%, 9%), 0px 35px 170px 100px hsl(215, 59%, 13%);
}




/* Bootstrap reference class */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.display-flex {
  display: flex;
}

.row {
  margin: 100px 0;
  display: flex;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}




/* Mobile */
@media screen and (max-width: 375px) {
  
}

/* Desktop */
@media screen and (max-width: 1440px) {

}