/* Outfit font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-softblue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);
  
  --main-bg-color: hsl(217, 54%, 11%);
  --card-bg-color: hsl(216, 50%, 16%);
  --line-bg-color: hsl(215, 32%, 27%);
  --white-bg-color: hsl(0, 0%, 100%);
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  background-color: var(--main-bg-color);
  color: var(--primary-cyan);
  height: auto;
  width: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

/* Main card style */
.card {
  border-radius: 20px;
  width: 500px;
  height: auto;
  background-color: var(--card-bg-color);
  box-shadow: 0px 35px 26px 18px hsl(216, 63%, 9%), 0px 35px 170px 100px hsl(215, 59%, 13%);
}

/* Card header style */
.card .card-header {
  color: var(--white-bg-color);
  padding: 30px;
}

.parent-image {
  position: relative;
  width: 100%;
}

.parent-image img {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.parent-image .overlay img {
  width: 100px;
  display: none;
}

/* Card body style */
.card-body {
  padding: 30px 30px 10px 30px;
  margin-top: -36px;
  position: relative;
}

.card-body h1 {
  color: var(--white-bg-color);
  margin-bottom: 16px;
}

.card-body p {
  color: var(--primary-softblue);
  font-size: 24px;
  line-height: 34px;
}

.card-body .sell-description {
  padding: 32px 0;
}

.card-body .eth-price {
  position: absolute;
  left: 30px;
  text-align: start;
  font-size: 22px;
  color: var(--primary-cyan);
}

.card-body .deadline {
  position: absolute;
  right: 30px;
  font-size: 22px;
  text-align: end;
  color: var(--primary-softblue);
}

/* Card footer style */
.card-footer {
  padding: 30px;
}

.nft-owner {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.nft-owner .creation-desc {
  color: var(--primary-softblue);
  font-size: 22px;
}

.nft-owner .text-owner-name {
  color: var(--white-bg-color);
}

.img-avatar {
  border-radius: 50%;
  width: 12%;
  border: 2px solid var(--white-bg-color);
}

.horizontal-line {
  border-top: 0.6px solid var(--line-bg-color);
  margin-bottom: 24px;
}




/* Bootstrap reference class */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.display-flex {
  display: flex;
}

.row {
  margin: 100px 0;
  display: flex;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}




/* Mobile */
@media screen and (max-width: 375px) {
  
}

/* Desktop */
@media screen and (max-width: 1440px) {

}